# This is the Mend config for the .NET secrets implementation.

# Mend documentation https://docs.mend.io/bundle/unified_agent/page/unified_agent_configuration_parameters.html

# Exclude tests - only scan product code
excludes=src/IntegrationTests/** src/SonarLint.Secrets.DotNet.UnitTests/**
fileSystemScan=False
resolveAllDependencies=False

nuget.resolvePackagesConfigFiles=True
nuget.resolveDependencies=True
nuget.preferredEnvironment=nuget
nuget.runPreStep=True

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=false