<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />

    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <config>
    <clear />
    <add key="signatureValidationMode" value="accept" />
  </config>

  <packageSources>
    <!-- We need a local package feed for the NuGetPkg tests. We can only set the sources via nuget.config
         at solution-level, but that's ok since the integration tests have a separate solution file.
         The local feed should never containing anything except the Secrets package, and the NuGetPkg test
         project is the only project that references the Secrets NuGet package.
         
         These settings mean the test project will only use the local NuGet feed.
         We're assuming it doesn't need any other NuGet packages that have not already been fetched by the
         main solution build/test i.e. all other required packages will already be available on the machine.
         If in the future we require any additional packages we would have to change the list of package
         sources below to make sure it is available.
      -->
      <clear />
      <add key="localTestFeed" value="..\..\.localTestFeed" />
    
  </packageSources>

</configuration>
